In [58]:
import pandas as pd

df1 = pd.read_excel('data-penumpang-bus-transjakarta-tahun-2021-(1764692849646).xlsx')
df1.head()

,periode_data,jenis,kode_trayek,trayek,jumlah_penumpang
0,202101,Angkutan Umum Integrasi,3E,Puri Kembangan - Sentraland Cengkareng,24385
1,202101,Angkutan Umum Integrasi,1R,Senen - Tanah Abang,13518
2,202101,Angkutan Umum Integrasi,1Q,Rempoa - Blok M,29449
3,202101,Angkutan Umum Integrasi,1P,Senen - Bundaran Senayan,8793
4,202101,Angkutan Umum Integrasi,1N,Tanah Abang - Blok M,9987

In [59]:
df1.columns

Index(['periode_data', 'jenis', 'kode_trayek', 'trayek', 'jumlah_penumpang'], dtype='object')

In [60]:
df1['periode_data'].head()

0    202101
1    202101
2    202101
3    202101
4    202101
Name: periode_data, dtype: int64

In [61]:
df1[['jenis']].value_counts()

jenis
Mikrotrans                 848
Angkutan Umum Integrasi    469
BRT                        156
Name: count, dtype: int64

In [62]:
df1_BRT = df1[df1['jenis'] == 'BRT'].copy()
df1_Angkutan_Umum_integrasi = df1[df1['jenis'] == 'Angkutan Umum Integrasi'].copy()
df1_Mikrotrans = df1[df1['jenis'] == 'Mikrotrans'].copy()

In [63]:
pd.set_option('display.max_rows', None)
df1_BRT_penumpang = df1_BRT[['periode_data', 'kode_trayek', 'jumlah_penumpang']].sort_values(by=['kode_trayek', 'periode_data']).head()

In [ ]:
import calendar

# Extract year and month from periode_data
df1_BRT['year'] = df1_BRT['periode_data'] // 100
df1_BRT['month'] = df1_BRT['periode_data'] % 100

# Get days in month
df1_BRT['days_in_month'] = df1_BRT.apply(
    lambda row: calendar.monthrange(row['year'], row['month'])[1], 
    axis=1
)

# Calculate daily passengers
df1_BRT['jumlah_penumpang_per_day'] = df1_BRT['jumlah_penumpang'] / df1_BRT['days_in_month']

pd.set_option('display.max_rows', None)
df1_BRT[['periode_data', 'kode_trayek', 'jumlah_penumpang', 'jumlah_penumpang_per_day']].sort_values(by=['periode_data', 'kode_trayek'])

      periode_data kode_trayek  jumlah_penumpang  jumlah_penumpang_per_day
234         202101           1            773717              24958.612903
233         202101          10            356211              11490.677419
232         202101          11            134632               4342.967742
231         202101          12            137793               4444.935484
230         202101          13            266290               8590.000000
229         202101           2            323751              10443.580645
228         202101           3            444971              14353.903226
227         202101           4            249575               8050.806452
226         202101           5            400573              12921.709677
225         202101           6            320411              10335.838710
224         202101           7            377657              12182.483871
223         202101           8            419996              13548.258065
222         202101           9            622613              20084.290323
98          202102           1            799708              28561.000000
97          202102          10            349572              12484.714286
96          202102          11            134665               4809.464286
95          202102          12            134609               4807.464286
94          202102          13            265717               9489.892857
93          202102           2            312708              11168.142857
92          202102           3            436078              15574.214286
91          202102           4            250418               8943.500000
90          202102           5            397019              14179.250000
89          202102           6            316703              11310.821429
88          202102           7            370317              13225.607143
87          202102           8            414326              14797.357143
86          202102           9            611856              21852.000000
525         202103           1           1013221              32684.548387
524         202103          10            427032              13775.225806
523         202103          11            166555               5372.741935
522         202103          12            164012               5290.709677
521         202103          13            334450              10788.709677
520         202103           2            412664              13311.741935
519         202103           3            534617              17245.709677
518         202103           4            277604               8954.967742
517         202103           5            494769              15960.290323
516         202103           6            405083              13067.193548
515         202103           7            453819              14639.322581
514         202103           8            508851              16414.548387
513         202103           9            756064              24389.161290
647         202104           1           1003534              33451.133333
646         202104          10            424169              14138.966667
645         202104          11            162931               5431.033333
644         202104          12            161849               5394.966667
643         202104          13            342002              11400.066667
642         202104           2            387163              12905.433333
641         202104           3            528578              17619.266667
640         202104           4            302574              10085.800000
639         202104           5            488359              16278.633333
638         202104           6            399984              13332.800000
637         202104           7            442653              14755.100000
636         202104           8            515105              17170.166667
635         202104           9            750330              25011.000000
438         202105           1            937452              30240.387097
437         202105          10            396760              12798.709677
436         202105          11            154256               4976.000000
435         202105          12            138371               4463.580645
434         202105          13            323662              10440.709677
433         202105           2            358525              11565.322581
432         202105           3            496285              16009.193548
431         202105           4            269533               8694.612903
430         202105           5            469390              15141.612903
429         202105           6            351285              11331.774194
428         202105           7            416381              13431.645161
427         202105           8            480392              15496.516129
426         202105           9            663201              21393.580645
894         202106           1            899829              29994.300000
893         202106          10            393998              13133.266667
892         202106          11            148933               4964.433333
891         202106          12            148267               4942.233333
890         202106          13            315765              10525.500000
889         202106           2            351897              11729.900000
888         202106           3            484181              16139.366667
887         202106           4            276418               9213.933333
886         202106           5            453222              15107.400000
885         202106           6            371126              12370.866667
884         202106           7            405333              13511.100000
883         202106           8            477804              15926.800000
882         202106           9            692649              23088.300000
798         202107           1            344528              11113.806452
797         202107          10            175900               5674.193548
796         202107          11             62391               2012.612903
795         202107          12             62403               2013.000000
794         202107          13            124158               4005.096774
793         202107           2            143327               4623.451613
792         202107           3            205148               6617.677419
791         202107           4            118923               3836.225806
790         202107           5            181565               5856.935484
789         202107           6            157941               5094.870968
788         202107           7            174682               5634.903226
787         202107           8            194713               6281.064516
786         202107           9            326712              10539.096774
989         202108           1            462959              14934.161290
988         202108          10            213453               6885.580645
987         202108          11             74753               2411.387097
986         202108          12             80348               2591.870968
985         202108          13            160187               5167.322581
984         202108           2            182122               5874.903226
983         202108           3            263067               8486.032258
982         202108           4            147131               4746.161290
981         202108           5            228704               7377.548387
980         202108           6            194549               6275.774194
979         202108           7            211537               6823.774194
978         202108           8            248009               8000.290323
977         202108           9            399358              12882.516129
1060        202109           1            735653              24521.766667
1059        202109          10            315308              10510.266667
1058        202109          11            116020               3867.333333
1057        202109          12            121086               4036.200000
1056        202109          13            254820               8494.000000
1055        202109           2            277799               9259.966667
1054        202109           3            398693              13289.766667
1053        202109           4            225026               7500.866667
1052        202109           5            357909              11930.300000
1051        202109           6            294430               9814.333333
1050        202109           7            320701              10690.033333
1049        202109           8            374777              12492.566667
1048        202109           9            576669              19222.300000
1384        202110           1            903783              29154.290323
1383        202110          10            369184              11909.161290
1382        202110          11            135543               4372.354839
1381        202110          12            140853               4543.645161
1380        202110          13            307410               9916.451613
1379        202110           2            331229              10684.806452
1378        202110           3            466445              15046.612903
1377        202110           4            274326               8849.225806
1376        202110           5            430590              13890.000000
1375        202110           6            348321              11236.161290
1374        202110           7            376261              12137.451613
1373        202110           8            442361              14269.709677
1170        202110           9            670052              21614.580645
1205        202111           1           1073929              35797.633333
1204        202111          10            421487              14049.566667
1203        202111          11            148930               4964.333333
1202        202111          12            163317               5443.900000
1201        202111          13            305567              10185.566667
1200        202111           2            374586              12486.200000
1199        202111           3            527539              17584.633333
1198        202111           4            321515              10717.166667
1197        202111           5            487576              16252.533333
1196        202111           6            435539              14517.966667
1195        202111           7            420738              14024.600000
1194        202111           8            512842              17094.733333
1193        202111           9            805724              26857.466667
1435        202112           1           1131439              36498.032258
1434        202112          10            419198              13522.516129
1433        202112          11            163776               5283.096774
1432        202112          12            167399               5399.967742
1431        202112          13            337233              10878.483871
1430        202112           2            380760              12282.580645
1429        202112           3            465124              15004.000000
1428        202112           4            319411              10303.580645
1427        202112           5            513138              16552.838710
1426        202112           6            401232              12942.967742
1425        202112           7            402368              12979.612903
1424        202112           8            533221              17200.677419
1423        202112           9            819178              26425.096774

In [65]:
df1_Angkutan_Umum_integrasi[['kode_trayek']].value_counts()

kode_trayek
10K            12
11D            12
11Q            12
12B            12
1B             12
1F             12
1E             12
1C             12
1M             12
1N             12
1P             12
1H             12
1Q             12
4F             12
5B             12
1R             12
8K             12
9D             12
9E             12
4B             12
6H             12
6C             12
5M             12
5F             12
6M             12
8D             12
8C             12
7P             12
7D             12
7B             12
7A             12
6R             12
8E             12
9H             11
3E             10
6N             10
GR4             8
GR5             8
1A              8
1A              4
2Q              3
2P              3
3E              3
12A             1
6Q              1
6F              1
GR3             1
GR2             1
Name: count, dtype: int64

In [66]:
df1_Mikrotrans[['kode_trayek']].value_counts()

kode_trayek
JAK,19         12
JAK.01         12
JAK.06         12
JAK.02         12
JAK.03         12
JAK.04         12
JAK.07         12
JAK.05         12
JAK.09         12
JAK.08         12
JAK.56         12
JAK.58         12
JAK.10         12
JAK.11         12
JAK.117        12
JAK.112        12
JAK.13         12
JAK.12         12
JAK.16         12
JAK.17         12
JAK.14         12
JAK.15         12
JAK.18         12
JAK.20         12
JAK.22         12
JAK.21         12
JAK.30         12
JAK.31         12
JAK.24         12
JAK.25         12
JAK.26         12
JAK.27         12
JAK.28         12
JAK.29         12
JAK.34         12
JAK.35         12
JAK.32         12
JAK.33         12
JAK.36         12
JAK.37         12
JAK.39         12
JAK.38         12
JAK.73         12
JAK.74         12
JAK.40         12
JAK.41         12
JAK.42         12
JAK.43         12
JAK.44         12
JAK.45         12
JAK.46         12
JAK.47         12
JAK.49         12
JAK.50         12
JAK.51         12
JAK.52         12
JAK.53         12
JAK.54         12
JAK.85         12
JAK.84         12
JAK.59         12
JAK.60         12
JAK.61         12
JAK.64         12
JAK.71         12
JAK.72         12
JAK.88         12
JAK.80         12
JAK.75         12
JA.77          11
JAK.10A         4
JAK.10B         3
JAK. 10B        1
JAK.77          1
Name: count, dtype: int64